.top{
    height:31px;
}
/*.top .top_img{
    height:70px;
    width:1349px;
    background-color:#BD15A8;
}
.top .top_img img{
    display:block;
    height:70px;
    margin:0 auto;
}*/
.top .top_leader{
    height:31px;
    padding-left:75px;
    background-color:#E3E4E6;
}

/*天气二级导航*/
.top .top_leader .tianqi{
    width:80px;
    position:relative;
}
.top .top_leader .tianqi_scd{
    position:absolute;
    display:none;
    width:502px;
    height:291px;
    background-color:#fff;
    left:0;
    top:31px;
    border:1px solid #ccc;
    border-top:0;
}
.top_leader .tianqi:hover .tianqi_scd{
    display:block;
}




.top .top_leader p{
    color: #676767;
    line-height:31px;
    font-size:12px;
}
.top .top_leader a{
    color:#676767 ;
    line-height:31px;
    font-size:12px;
}
.top .top_leader a:hover{
    color:#C80F1E;
}
.top .top_leader .underline:hover{
    text-decoration:underline;
}
.top .top_leader .change-city:hover{
    text-decoration:underline;
}
/*顶部菜单*/
.top .top_leader .top-menu{
    height:31px;
}

/*个人中心*/
.top .top_leader .top-menu .personal{
    display:inline-block;
    width:80px;
    position:relative;
}
.top .top_leader .top-menu .personal1{
    display:inline-block;
}
.top .personal .personal_scd{
    position:absolute;
    display:none;
    width:112px;
    height:211px;
    background-color:#fff;
    left:0;
    top:31px;
    border:1px solid #ccc;
    border-top:0;
}
.top .personal:hover{
    background-color:#fff;
}
.top .personal:hover .personal_scd{
    display:block;
}



.top .top_leader .top-menu .club{
    display:inline-block;
    width:103px;
}
.top .top_leader .top-menu .help{
    display:inline-block;
    width:72px;
}

/*客户端*/
.top .top_leader .top-menu .customer{
    display:inline-block;
    width:80px;
    position:relative;
}
.top .top_leader .top-menu .customer1{
    display:inline-block;
}
.top .customer .customer_scd{
    position:absolute;
    display:none;
    width:242px;
    height:151px;
    background-color:#fff;
    left:0;
    top:31px;
    border:1px solid #ccc;
    border-top:0;
}
.top .customer:hover{
    background-color:#fff;
}
.top .customer:hover .customer_scd{
    display:block;
}





.top .top_leader .top-menu .online{
    display:inline-block;
    width:70px;
}



/*网站导航*/
.top .top_leader .top-menu .nivigator{
    display:inline-block;
    width:83px;
    position:relative;
}
.top .top_leader .top-menu .nivigator{
    display:inline-block;
}
.top .nivigator .nivigator_scd{
    position:absolute;
    display:none;
    width:1196px;
    height:201px;
    background-color:#fff;
    left:-870px;
    top:31px;
    border:1px solid #ccc;
    border-top:0;
}
.top .nivigator:hover{
    background-color:#fff;
}
.top .nivigator:hover .nivigator_scd{
    display:block;
}





.top .top_leader .top-menu .report{
    display:inline-block;
    width:115px;
}


/*电话*/
.top .top_leader .top-menu .call{
    display:inline-block;
    width:135px;
    position:relative;
}
.top .top_leader .top-menu .call{
    display:inline-block;
}
.top .call .call_scd{
    position:absolute;
    display:none;
    width:218px;
    height:81px;
    background-color:#fff;
    left:-93px;
    top:31px;
    border:1px solid #ccc;
    border-top:0;
}
.top .call:hover{
    background-color:#fff;
}
.top .call:hover .call_scd{
    display:block;
}




/*cart wraper*/
.cart_wraper{
    width: 1200px;
    margin: 0 auto;
    color: #333;
}
.cart_wraper .order_head{
    width: 1200px;
    height: 100px;
    overflow: hidden;
}

.cart_wraper .order_head .order_logo{
    display: block;
    width: 160px;
    height: 100px;
}

.cart_wraper .order_head .order-step{
    width:360px;
    height:8px;
    float:right;
}

.cart_wraper .order_head .order-step dl{
    background: #c80f1e;
    float: left;
    height: 8px;
    width: 120px;
    position: relative;
    top: 30px;
}
.cart_wraper .order_head .order-step dl dt{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    line-height: 24px;
    text-align: center;
    background: #dfdfdf;
    border: solid 1px #ccc;
    border-radius: 100%;
    font-size: 14px;
}
.cart_wraper .order_head .order-step dl dd{
    color: #c80f1e;
    font-weight: bold;
    top: 24px;
    left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
}



/*cart box*/
.cart_wraper .cart_box{
    width: 1200px;
    min-height:204px;
}


/*没有添加商品时*/
.cart_wraper .cart_box .cart_nothing{
    display:none;
    text-align: center;
    padding: 30px 0;
}
.cart_wraper .cart_box .cart_nothing img{
    border: 0;
    outline: 0;
    text-align: center;
    width: 120px;
    height: 120px;
}

.cart_wraper .cart_box .cart_nothing p{
    text-align: center;
    font-size:12px;

}


.cart_wraper .cart_box .cart_guess_box{
    width:1200px;
}

.cart_wraper .cart_box .cart_guess_box div .cart_tab{
    height: 30px;
    line-height: 30px;
    border-bottom: solid 2px #dfdfdf;
}
.cart_wraper .cart_box .cart_guess_box div .cart_tab .cart_tableft{
    float: left;
    width:73px;
    line-height: 30px;
}
.cart_wraper .cart_box .cart_guess_box div .cart_tab .cart_tableft a{
    color: #c80f1e;
    border-bottom: solid 2px #c80f1e;
    height: 30px;
    /*width:73px;*/
    /*display: inline-block;*/
    padding: 0 5px;
    font-size: 15px;
    float:left;
    /*display:inline-block;*/
    text-decoration: none;
}

.cart_wraper .cart_box .cart_guess_box div .cart_tab .cart_tabright {
    /*display:inline-block;*/
    float: right;
    /*width: 240px;*/
    height: 30px;
}
.cart_wraper .cart_box .cart_guess_box div .cart_tab p span{
    /*float: left;*/

    height: 30px;
}
.cart_wraper .cart_box .cart_guess_box div .cart_tab  p b{
    float: right;
    color: #c80f1e;
}
.cart_wraper .cart_box .cart_guess_box div .cart_tab .cart_tabright{
    color: #c80f1e;
}



/*购物成为中间的商品*/
.cart_wraper .cart_box .cart_guess_boxmid{
    width:1200px;
    
}
.cart_wraper .cart_box .cart_guess_boxmid .cart_title{
    width:1200px;
    border: 0;
    padding: 5px 0;
    clear: both;
    margin-top: 10px;
    overflow: hidden;
    font-size:12px;
}
.cart_wraper .cart_guess_boxmid .cart_title .cart_check{
   float:left;
   width:50px;
   text-align:center;
   color:#333; 
}
.cart_wraper .cart_guess_boxmid .cart_title .cart_product_box{
   margin-left:50px;
   overflow:hidden;
   color:#333; 
   float:left;
   width:1050px;
}
.cart_wraper .cart_guess_boxmid .cart_title .cart_product_box div{
    float:left;
}
.cart_wraper .cart_guess_boxmid .cart_title .cart_product_box .product{
    padding-left:104px;
    width:446px;
    
}
.cart_wraper .cart_guess_boxmid .cart_title .cart_product_box .unit_price,.discount,.count,.sum{
    width:120px;
}


.cart_wraper .cart_guess_boxmid .cart_goods{
    width:1200px;
    border:solid 1px #dfdfdf;
    clear:both;
    margin-top:10px;
}



.cart_wraper .cart_guess_boxmid .cart_goods .cart_check1{
   float:left;
   width:50px;
   text-align:center;
   color:#333; 
   margin-top:38px;
   font-size:12px;
}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist{
   margin-left:10px;
   overflow:hidden;
   color:#333; 
   float:left;
   width:1050px;
}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist ul{
    padding:15px 0;
}

.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist ul img{
    height:80px;
    width:80px;
    float:left;
}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist ul #car_list_1{
    padding-left:44px;
    width:380px;
    float:left;
}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist ul #car_list_2{
    float:left;
    width:130px;

}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist ul #car_list_3{
    float:left;
    width:130px;

}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist ul #car_list_4{
    float:left;
    width:250px;

}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist ul #car_list_5{
    float:left;
    width:60px;

}







.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist .product{
    padding-left:104px;
    width:446px;
    
}
.cart_wraper .cart_guess_boxmid .cart_goods .cart_goodslist .unit_price,.discount,.count,.sum{
    width:120px;
}